
<div class="main">
 
  <h1 class="mb-3">Hello, {{user.firstName}}</h1>

  {{#if cart.items}}
    <table class="table" id="checkout-form">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Price</th>
          <th scope="col" style="text-align:right">Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each cart.items}}
          <tr>
            <td>{{title}}</td>
            <td>{{year}}</td>
            <td style="text-align:right">
              <form action="/user/removeFromCart/{{_id}}?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger btn-sm" style="width: 76.22px;">Delete</button>
              </form>
            </td>            
          </tr>
        {{/each}}
        <tr>
          <td colspan="2"><h4><strong>Total: </strong> ${{cart.total}}</h4></td>
          <td style="text-align:right;"> 
            <form action="/user/checkout" method="POST">
              <button type="submit" class="btn btn-success btn-sm">Checkout</button>
            </form>               
          </td>
        </tr>
      </tbody>
    </table> 
    
  {{else}}
    <div class="container-fluid home-page">
      <div class="row ">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-5 col-8 mx-auto">
              <img src="/assets/dashboard.svg" width="100%">
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 mx-auto text-center">
              <h4>You now have access to <span class="underline">thousands</span> of movies and shows at your fingertips. Feel free to browse and start watching today!</h4>
              <h6>You have no items in your cart currently. Maybe check out some movies? &#x1F633;</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <a href="/movie"><button type="button" class="btn mt-3 me-1 button ">Browse Movies</button></a>
              <a href="/show"><button type="button" class="btn mt-3 ms-1 button ">Browse TV Shows</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
   

</div>
